<!-- views/partials/_header.ejs -->
<header>
  <h1>Project: TinyApp - Lighthouse Labs</h1>
  <h3>Username: <%= username %></h3>
  <form method="POST" action="/login">
    <label>Username:</label>
    <input type="text" name="username">
    <button type="submit">Submit</button>
  </form>
</header>