<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include partials/_header %>
    <!-- Add your EJS code here -->
  <ul>
     <li><%= shortURL %> : <%= url %></li>
     <% const urlID = "/urls/" + shortURL + "/delete/" %>
     <form method="POST" action= <%= urlID %> >
      <button>Delete</button>
     </form>
  </ul>
  <p><a href="/urls">Show all</a></p>
</body>
</html>