<!DOCTYPE html>
<html>
<head>
  <title>Login - Project: TinyApp</title>
</head>
<body>
  <form method="POST" action="/login">
    <label>Login:</label>
    <fieldset style="width: 35%">
      <label>Email:</label>
        <input type="email" name="email" placeholder="email@email.ca">
      <label>Password:</label>
      <input type="password" name="password">
      <button type="submit">Login</button>
    </fieldset>
  </form>
</body>
</html>